<div class="un_footerCon un_footerConN">
	<div class="un_footer">
		<div class="menu"><p><a href="javascript:;">Unity全球官网</a> | <a href="javascript:;">Unity中文官网</a> | <a href="javascript:;">大中华服务区</a> | <a href="javascript:;">联系我们</a></p></div>
		<div class="friends">合作机构<a href="javascript:;" target="_blank"><img src="/static/images/homepage_68.png"></a><a href="javascript:;" target="_blank"><img src="/static/images/homepage_68.png"></a><a href="" target="_blank"><img src="/static/images/homepage_68.png"></a><a href="javascript:;" target="_blank"><img src="/static/images/homepage_68.png"></a></div>
		<div class="copyright">版权 ? 2014 Unity 官方学院  沪ICP备13002771号-2</div>
		<div class="weibo"><a href="javascript:;">学院官方微博</a><br/><img src="/static/images/homepage_65.png"></div>
	</div>
</div>
</body>
</html>