{% extends "base.html" %}
{%block title%} Unity 学院 {%endblock%}
{%block navframe%}{%endblock%}
{%block content%}
<div class="un_hotImageCon">
	<div class="un_hotImage">
		<div class="un_hotImageW">
			<div class="un_hotImageN">
				<ul id="imgY">
					{%for hot_new in hot_news %}
					<li><a href="/news/{{hot_new.title}}" alt="{{hot_new.title}}"><img src="{{hot_new.bigpic}}" alt="{{hot_new.title}}"></a></li>
					{%endfor%}
				</ul>
			</div>
			
		</div>
		
	</div>
	<div class="un_hotNum" id="imgN">
		<a class="hot"></a><a ></a><a ></a><a ></a>
	</div>
	<div class="un_hotArrow">
		<a  class="left" id="arrowR"></a>
		<a  class="right" id="arrowL"></a>
	</div>
</div>
<div class="un_newsCon">
	<div class="un_news">
		<h2 class="title">学院新闻</h2>
		<i class="jg">|</i>
		<span class="jt">
			<a class="leftLast" id="newL"></a>
			<a  class="right " id="newR"></a>
		</span>
		<div class="newsShowCon">
			<ul id="newsShow">
			{%for new in news%}
			<li><span>{{new.publishtime|date:"Y/m/d"}}</span><a href="/news/{{new.title}}" target="_blank">{{new.title}}</a></li>
			{% endfor %}
		</ul>
		</div>
	</div>
</div>
<script type="text/javascript">	
$(document).ready(function() {
	 var un_newsNum=$("#newsShow li").size();
	 var un_newsWidN=Math.ceil(un_newsNum/2);
	 var un_n=un_newsWidN-1;
	 var un_newsJ=0;
	 $("#newsShow").width(un_newsWidN*960+"px");
	 $("#newR").click(function  (argument) {
	    
	 	if(un_newsJ==un_n){return false;}
	     ++un_newsJ;
	 	$("#newsShow").animate({"left":-un_newsJ*960+"px"},500);
	 	$("#newL").removeClass("leftLast").addClass("left");
	 	if(un_newsJ==un_n){
	 		un_newsJ=un_n;
	 		$(this).addClass("rightLast");
	 	}

	 });

	 $("#newL").click(function  (argument) {
	 	if(un_newsJ==0){return false;}
	    --un_newsJ;  
	    $("#newsShow").animate({"left":-un_newsJ*960+"px"},500);
	 	$("#newR").removeClass("rightLast");
	 	if(un_newsJ==0){
	 		$(this).addClass("leftLast");
	 	}
	 });
});

</script>
<div class="un_conNav">
	<ul>
		<li><img src="/static/images/homepage_51.png"><h2><a href="/news">最新行业资讯</a></h2></li>
		<li><img src="/static/images/homepage_52.png"><h2><a href="/school/#1">最新课程介绍</a></h2></li>
		<li><img src="/static/images/homepage_54.png"><h2><a href="/studentshow">学员优秀作品</a></h2></li>
		<li class="last"><img src="/static/images/homepage_56.png"><h2><a href="javascript:()">核心产品介绍</a></h2></li>
	</ul>
</div>

<script type="text/javascript">
var intervaltime = 6000;
var hotImgM=(function () {
    function init (o) {
      if(o==""||o==null||typeof(o)!=="object"){return false;}
      hotImg.obj=o;
      hotImg.init();
    }
    var hotImg={
      num:1,
      init:function  (argument) {
        var $showImg=$("#"+this.obj.showImg);
        var $numImg=$("#"+this.obj.numImg);
        var $arrL=$("#"+this.obj.arrL);
        var $arrR=$("#"+this.obj.arrR);
        this.mnum=parseInt(this.obj.num);
        this.onCli($arrL,$arrR);
        this.onNum($numImg);
        var t=this;
        t.intve=setInterval(function  (argument) {
         t.doHD(true);
        },intervaltime);
      },
      onCli:function  (arrL,arrR) {
        var t=this;
        arrL.on("click",function  (argument) {
        clearInterval(t.intve);
        t.doHD(true);
        t.intve=setInterval(function  (argument) {
         t.doHD(true);
        },intervaltime);
        });
        arrR.on("click",function  (argument) {
          clearInterval(t.intve);
          t.doHD(false);
          t.intve=setInterval(function  (argument) {
         t.doHD(true);
        },intervaltime);
        });
      },
      onNum:function  (numImg) {
        var t=this;
        numImg.on("click","a",function (e) {
          clearInterval(t.intve);
          t.num=$(this).index();
         t.doHD(true);
         t.intve=setInterval(function  (argument) {
         t.doHD(true);
        },intervaltime);
        })
      },
      doHD:function  (pd) {
        var n=this.num=pd?++this.num:--this.num;
        var w=(n-1)*(this.obj.wid);
        var t=this;   
        if(n>this.mnum){
        	this.num=1; n=1;w=0;
        }

        if(n<1){
           n=t.num=this.mnum; w=(n-1)*(this.obj.wid);
          }
       $("#"+this.obj.showImg).animate({"left":-w+"px"},500);

       $("#"+this.obj.numImg+" a").eq(--n).addClass("hot").siblings().removeClass("hot");  	
      }
       
    };
    return init;

})();
var gdimg={showImg:"imgY",numImg:"imgN",arrL:"arrowL",arrR:"arrowR",isZ:true,num:4,wid:1200};
hotImgM(gdimg);
</script>
{%endblock%}