<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Unity学院</title>
	<link rel="stylesheet" type="text/css" href="/static/images/style.css">
	<script type="text/javascript" src="/static/scripts/jquery-1.11.1.min.js"></script>
</head>
<body>

<!--哪里需要把下面这段copy到哪个页面的body的最下面就行了-->
<script>
window.onload=function  (argument) {
	var t=document.body.clientHeight;
	document.getElementById('un_mc').style.height=t+"px";
	document.getElementById('bmClose').onclick=function  (argument) {
		document.getElementById('un_mc').style.display="none";
		document.getElementById('un_bmCon').style.display="none";
	}
}

function pushregiste(){
	var jsondata = $("#registe").serializeArray();
	alert(jsondata);
	$.post("/registerpost/", jsondata, 
			function(data) {
				alert(data);
				//switch(data){
				//	case "codeerrror":
				//		alert("验证码输入错误");
				//		break;
				//}
			}, "json");
}

function refresh_code(){
	var ran = Math.random()*100000;
	document.getElementById('img_code').src='/code?ran='+Math.random()*100000;
}
</script><!-- 	$.ajax({
			cache: true,
			type: "POST",
			datatype:"json",
			url:"/registerpost/",
			data:jsondata,
			async: false,
			error: function(request) {
				alert("Connection error");
			},
			success: function(data) {
				alert(data);
			}
		}); -->
<div class="un_mc" id="un_mc"></div>
<div class="un_bmCon" id="un_bmCon">
	<form id="registe" name="registe">
		<div class="un_bm">
			<div class="tit">
				Unity综合能力课程
			</div>
			<div class="fromGroup">
				<div class="item">
					<span>姓名 *</span>
					<div class="in"><input type="text" name="fullname" id="fullname"/></div>
				</div>
				<div class="item">
					<span>最高学历</span>
					<div class="in" name="qualifications" id="qualifications"><select>
						<option>选择您的最高学历</option>
						<option>高中</option>
					</select></div>
				</div>
				<div class="item">
					<span>所在城市</span>
					<div class="in" name="city" id="city"><select>
						<option>选择您的所在城市</option>
						<option>高中</option>
					</select></div>
				</div>
				<div class="item">
					<span>通讯地址</span>
					<div class="in"><input type="text"  name="address1" id="address1"></div>
					<!-- <div class="in"><input type="text"  name="address2" id="address2"></div> -->
				</div>
				<div class="item">
					<span>手机号码 *</span>
					<div class="in"><input type="text" name="mobile" id="mobile"></div>
				</div>
				<div class="item">
					<span>QQ号码 *</span>
					<div class="in"><input type="text" name="qqnumber" id="qqnumber"></div>
				</div>
				<div class="item">
					<span>目前状况 </span>
					<div class="in" name="currentstate" id="currentstate"><select>
						<option>选择您对Unity了解程度</option>
						<option>不了解</option>
					</select></div>
				</div>
				<div class="item item02">
					<span>补充内容</span>
					<div class="in"><textarea name="extended" id="extended"></textarea></div>
				</div>
				<div class="item">
					<span>验证码 *</span>
					<div class="in in02"><input type="text" name="validatecode" id="validatecode"></div>
					<div class="yzm fl"><img id="img_code" src="/code"></div>
					<a class="th" href="javascript:void()" onclick="javascript:refresh_code();">看不清，换一张</a>
				</div>
				<div class="zx">
					<a href="javascript:void()" onclick="javascript:pushregiste();" class="wybm"><i class="disnoe">我要报名</i></a>
				</div>
			</div>
			<div class="bmClose" id="bmClose">X</div>
		</div>
	</form>
</div>
</body>
</html>