<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Unity学院</title>
	<link rel="stylesheet" type="text/css" href="/static/images/style.css">
	<script type="text/javascript" src="/static/scripts/jquery-1.11.1.min.js"></script>
</head>
<body>
<style type="text/css">
body{background-color: transparent; }
</style>
<!--哪里需要把下面这段copy到哪个页面的body的最下面就行了-->
<script>
	function pushregiste(){
		var jsondata = $("#registe").serialize();
		//alert(jsondata);
		$.post("/registerpost/", jsondata, 
				function(data) {
					alert(data);
					window.parent.$("#un_mc").fadeOut("slow");
					window.parent.$("#un_mcCon").fadeOut("slow");
				}, "json");
	}
	
	function registe_recall(data){
		alert(data);
	}

	function refresh_code(){
		var ran = Math.random()*100000;
		document.getElementById('img_code').src='/code?ran='+Math.random()*100000;
	}
</script>
<div class="un_bmCon" id="un_bmCon">
	<form id="registe" name="registe">
		<div class="un_bm">
			<div class="tit">
				Unity综合能力课程
			</div>
			<div class="fromGroup">
				<div class="item">
					<span>姓名 *</span>
					<div class="in"><input type="text" name="fullname" id="fullname"/></div>
				</div>
				<div class="item">
					<span>最高学历</span>
					<div class="in" name="qualifications" id="qualifications"><select>
						<option>选择您的最高学历</option>
						<option>高中</option>
					</select></div>
				</div>
				<div class="item">
					<span>所在城市</span>
					<div class="in" name="city" id="city"><select>
						<option>选择您的所在城市</option>
						<option>高中</option>
					</select></div>
				</div>
				<div class="item">
					<span>通讯地址</span>
					<div class="in"><input type="text"  name="address1" id="address1"></div>
					<!-- <div class="in"><input type="text"  name="address2" id="address2"></div> -->
				</div>
				<div class="item">
					<span>手机号码 *</span>
					<div class="in"><input type="text" name="mobile" id="mobile"></div>
				</div>
				<div class="item">
					<span>QQ号码 *</span>
					<div class="in"><input type="text" name="qqnumber" id="qqnumber"></div>
				</div>
				<div class="item">
					<span>目前状况 </span>
					<div class="in" name="currentstate" id="currentstate"><select>
						<option>选择您对Unity了解程度</option>
						<option>不了解</option>
					</select></div>
				</div>
				<div class="item item02">
					<span>补充内容</span>
					<div class="in"><textarea name="extended" id="extended"></textarea></div>
				</div>
				<div class="item">
					<span>验证码 *</span>
					<div class="in in02"><input type="text" name="validatecode" id="validatecode" maxlength="4" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" /></div>
					<div class="yzm fl"><img id="img_code" src="/code"></div>
					<a class="th" href="javascript:void()" onclick="javascript:refresh_code();">看不清，换一张</a>
				</div>
				<div class="zx">
					<a href="javascript:void()" onclick="javascript:pushregiste();" class="wybm"><i class="disnoe">我要报名</i></a>
				</div>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("#wybm").click(function  (argument) {
		window.parent.$("#un_mc").fadeOut("slow");
		window.parent.$("#un_mcCon").fadeOut("slow");
	});
	})
</script>
</body>
</html>