<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Unity学院</title>
	<link rel="stylesheet" type="text/css" href="/static/images/style.css">
	<script type="text/javascript" src="/static/scripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery.cityselect.js"></script>
	<script type="text/javascript" src="/static/scripts/reg.js"></script>
</head>
<body>
<style type="text/css">
body{background-color: transparent; }
</style>
<script>
</script>
<div class="un_bmCon" id="un_bmCon">
	<div id="load" name="load" style="display:none;width:570;height:590;align:center"><img src="/static/images/loading.gif" />正在提交，请稍候......</div>
	<form id="registe" name="registe">
		<div class="un_bm">
			<div class="tit">
				Unity综合能力课程
			</div>
			<div class="fromGroup">
				<div class="item">
					<span>姓名 *</span>
					<div class="in"><input type="text" name="fullname" id="fullname"/></div>
				</div>
				<div class="item">
					<span>最高学历</span>
					<div class="in" name="qualifications" id="qualifications"><select>
						<option selected="selected" value="">最高学历</option>
						<option value="中学">中学</option>
						<option value="中专/技校">中专/技校</option>
						<option value="大专">大专</option>
						<option value="本科">本科</option>
						<option value="硕士">硕士</option>
						<option value="博士">博士</option>
					</select></div>
				</div>
				<div class="item">
					<span>所在城市</span>
					<div class="city" id="citycon">
					<select class="prov" name="province" id="province">
					</select>
					<select class="city" name="city" id="city" disabled="disabled" style="display:none">
					</select>
					</div>
				</div>
				<div class="item">
					<span>通讯地址</span>
					<div class="in"><input type="text"  name="address1" id="address1"></div>
					<!-- <div class="in"><input type="text"  name="address2" id="address2"></div> -->
				</div>
				<div class="item">
					<span>手机号码 *</span>
					<div class="in"><input type="text" name="mobile" id="mobile"></div>
				</div>
				<div class="item">
					<span>QQ号码 *</span>
					<div class="in"><input type="text" name="qqnumber" id="qqnumber"></div>
				</div>
				<div class="item">
					<span>目前状况 </span>
					<div class="in" name="currentstate" id="currentstate"><select>
						<option value="">选择您对Unity了解程度</option>
						<option value="了解">了解</option>
						<option value="不了解">不了解</option>
					</select></div>
				</div>
				<div class="item item02">
					<span>补充内容</span>
					<div class="in"><textarea name="extended" id="extended"></textarea></div>
				</div>
				<div class="item">
					<span>验证码 *</span>
					<div class="in in02"><input type="text" name="validatecode" id="validatecode" maxlength="4" /></div>
					<div class="yzm fl"><img id="img_code" src="/code"></div>
					<a class="th" href="javascript:;" onclick="javascript:refresh_code();">看不清，换一张</a>
				</div>
				<div class="zx">
					<a href="javascript:;" onclick="javascript:pushregiste();" class="wybm"><i class="disnoe">我要报名</i></a>
				</div>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$("#citycon").citySelect();
	$("#citycon").citySelect({nodata:"none",required:false});
	
	$("#wybm").click(function  (argument) {
		window.parent.$("#un_mc").fadeOut("slow");
		window.parent.$("#un_mcCon").fadeOut("slow");
	});
	})
</script>
</body>
</html>