{% extends "base.html" %}
{%block title%} Unity学院学员风采 {%endblock%}
{%block content%}
<div class="un_content">
	<div class="un_showTitle">
		学员风采
	</div>
	<div class="un_perShow un_teacherShow">
		<div class="un_personArrow">
			<a  class="left" id="arrowL"></a>
			<a  class="right" id="arrowR"></a>
		</div>
		<div class="un_teacherShowCon">
			<div class="un_perShowW" id="un_perShowW">
				{%for students in student_page_objects%}
				<ul class="clearfix un_perShowUl">
					{%for student in students%}
					<li class="clearfix{%if forloop.last%} hover{%endif%}">
						<div class="img">
							<img src="{{student.pic}}" />
							<p>{{student.fullname}}</p>
						</div>
						<div class="con disnoe">
							<div class="tit">{{student.title}}</div>
							<p>“{{student.content}}”</p>
						</div>
					</li>
					{%endfor%}
				</ul>
				{%endfor%}
			</div>
		</div>
	</div>
	<div class="un_showTitle">
		优秀作品
	</div>
	<div class="un_workShow" >
		<ul class="list clearfix " id="un_workShowList01">
			{% for work in top_works %}
			<li id="liwork{{work.studentworksid}}" workid="{{work.studentworksid}}"><a href="javascript:;"><img src="{{MEDIA_URL}}{{work.smallimg}}"></a><i></i></li>
			{% endfor %}
		</ul>
		{% for work in top_works %}
		<div class="un_workShowInfo clearfix" style="display:none" id="work{{work.studentworksid}}" name="work{{work.studentworksid}}">
			<div class="img">
					<img src="{{MEDIA_URL}}{{work.originimg}}" style="width:589px;height:292px">
				</div>
				<div class="con">
					<div class="tit">
						<h3>{{work.worksname}}</h3>
						<span class="mz">{{work.studentname}}</span>
						<span class="rq">{{work.publishtime|date:"Y/m/d"}}</span>
					</div>
					<div class="info">{{work.description}}</div>
				</div>
		</div>
		{% endfor %}
		{% for work in bottom_works %}
		<div class="un_workShowInfo clearfix" style="display:none" id="work{{work.studentworksid}}" name="work{{work.studentworksid}}">
			<div class="img">
					<img src="{{MEDIA_URL}}{{work.originimg}}" style="width:589px;height:292px">
				</div>
				<div class="con">
					<div class="tit">
						<h3>{{work.worksname}}</h3>
						<span class="mz">{{work.studentname}}</span>
						<span class="rq">{{work.publishtime|date:"Y/m/d"}}</span>
					</div>
					<div class="info">{{work.description}}</div>
				</div>
		</div>
		{% endfor %}
		<ul class="list clearfix " id="un_workShowList02">
			{% for work in bottom_works %}
			<li id="liwork{{work.studentworksid}}" workid="{{work.studentworksid}}"><a href="javascript:;"><img src="{{MEDIA_URL}}{{work.smallimg}}"></a><i></i></li>
			{% endfor %}
		</ul>
	</div>

</div>
<script type="text/javascript">
	$("#un_perShow li").hover(function  (argument) {
		$(this).addClass("hover").siblings().removeClass("hover").children(".con").hide();;
		$(this).children(".con").show();
	});
	//$("#un_workShowList02 li,#un_workShowList01 li").hover(function  (argument) {
	//	$(this).addClass("hover").siblings().removeClass("hover");
	//});

	$("#un_perShow li").hover(function  (argument) {
		$(this).addClass("hover").siblings().removeClass("hover").children(".con").hide();;
		$(this).children(".con").show();
	});
	$("#un_workShowList02 li,#un_workShowList01 li").click(function  (argument) {
		var this_li = $(this);
		workid = this_li.attr("workid")
		$("#un_workShowList02 li,#un_workShowList01 li").siblings().removeClass("hover");
		$(this).addClass("hover");
		$(".un_workShow .un_workShowInfo").hide();
		$("#work"+workid).show();
	});

	$(document).ready(function() {
	 var un_perNum=$("#un_perShowW ul").size();

	 var un_n=un_perNum-1;
	 var un_perJ=0;
	 $("#liwork{{defaultworkid}}").addClass("hover").siblings().removeClass("hover");
	 $("#work{{defaultworkid}}").show();
	 
	 $("#un_perShowW").width(un_perNum*1039+"px");

	 $("#arrowR").click(function  (argument) {
	    
			if(un_perJ==un_n){return false;}
			 ++un_perJ;
			$("#un_perShowW").animate({"left":-un_perJ*1039+"px"},500);	
			if(un_perJ==un_n){
				un_perJ=un_n;
			}
		 });

		 $("#arrowL").click(function  (argument) {
			if(un_perJ==0){return false;}
			--un_perJ;  
			$("#un_perShowW").animate({"left":-un_perJ*1039+"px"},500);
		 });
	});
	$(".un_perShowUl>li").hover(function  (argument) {
		$(this).addClass("hover").siblings().removeClass("hover").children(".con").hide();;
		$(this).children(".con").show();
	},function  (argument) {});
</script>
{%endblock%}